<div class="container content">
    <div class="row">
        <div class="col-md-6">
            HOLA 
        </div>
        <div class="col-md-6">
            MOISESITO
        </div>
    </div>
</div>