<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/tech" alt="">
        <span>
            <h4>{{vehiculo.nombre}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{vehiculo.nombre}}</h3>
        <p>{{vehiculo.descripcion}}</p>
        <a href="#" class="btn-card">Read</a>
    </div>
</div>
